
# BEGIN All In One WP Security
#AIOWPS_IP_BLACKLIST_START
Order allow,deny
Allow from all
Deny from 91.200.12.0/24
#AIOWPS_IP_BLACKLIST_END
# END All In One WP Security

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
